/* =================================================================================================================================
   リセットCSS (ブラウザの余計な余白を消す)
   ================================================================================================================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
}

img {
  max-width: 100%;
  display: block;
}

/* =================================================================================================================================
   メイン
   ================================================================================================================================= */

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-weight: normal;
}

/* =================================================================================================================================
   ヘッダ
   ================================================================================================================================= */

/* --- ヘッダーナビゲーション ------------------------------------------------------------------------------------------------------ */

.header-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 6px #6c3524 solid;
  padding: 10px 20px;
}

.header-logo {
  width: 18vw;
  margin-right: 0.8vw;
}

.nav-link-icon {
  width: 2vw;
  margin: 0 auto;
}

/* --- 1stナビ ------------------------------------------------------------------ */

.nav-1st ul {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.nav-1st li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9em;
  font-weight: 600;
  color: #6c3524;
  text-align: center;
  border-right: 5px #eee dotted;
  min-width: 1.8vw;
  padding: 0 10px;
}

.nav-1st a {
  display: block;
}

/* --- 2ndナビ ------------------------------------------------------------------ */

.nav-2nd {
  margin-left: 20px;
}

.nav-2nd ul {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
  padding: 0 20px;
  gap: 30px;
}

.nav-2nd a {
  font-size: 0.8em;
  color: #6c3524;
}

/* --- 3rdナビ ------------------------------------------------------------------ */

.nav-3rd ul {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.nav-3rd li {
  font-size: 0.6em;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  padding: 0 10px;
}

.round-icon {
  border-radius: 50%;
  margin-bottom: 3px;
}

/* --- ヘッダーナビレスポンシブ ------------------------------------------------------------------ */

@media (max-width: 1300px) {
  .header-logo {
    width: 100%;
    height: 3vw;
  }
  /* 1stナビレスポンシブ */
  .nav-1st li {
    font-size: 0.7em;
  }
  /* 2ndナビレスポンシブ */
  .nav-2nd ul {
    gap: 20px;
  }
  .nav-2nd li {
    min-width: 1.8vw;
  }
  .nav-2nd a {
    font-size: 0.7em;
  }
}

@media (max-width: 768px) {
  .nav-link-icon {
    width: 20px;
  }
  .header-logo {
    height: 22px;
  }
  .nav-1st ul {
    display: none;
  }
  .nav-1st li {
    display: auto;
  }
  .nav-2nd ul {
    display: none;
  }
  .nav-2nd li {
    min-width: auto;
  }
  .nav-3rd li {
    font-size: 7px;
    padding: 0 5px;
  }
}

/* =================================================================================================================================
   メインビジュアル (Hero Section) 
   ================================================================================================================================= */

/* --- ヒーロー全体 --------------------------------------------------------------------------------------------------------------- */

#hero.swiper {
  width: 100%;
  height: 50vw; 
  margin: 0 auto;
  padding: 20px 3vw;
}

.swiper-wrapper {
  height: 100%;
}

.swiper-link {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  background-image: url('img/hero01.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
}

/* スライドショーコントローラー */
.hero-controls {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #fafafa;
  border-top: 1px #999 dotted;
  border-bottom: 1px #999 dotted;
}


@media (max-width: 768px) {
#hero.swiper {
  height: 60vh;
  padding: 0;
}
.swiper-slide {
  background-size: cover;
  border-radius: 0;
}
.hero-controls {
  height: 50px;
}
}

/* --- コンテンツ ------------------------------------------------------------------------------------------------------------------- */

.contents {
  width: 100%;
  background-image: url('img/dcd-background.png');
  background-repeat: no-repeat;
  background-position: 120% 16%; 
  background-size: 400px auto; /* サイズも指定可能 */
  margin: 0 auto;
  padding: 20px 3vw;
}

.contents-wrapper {
  margin: 0 auto;
}

/* コンテンツリンク全体 */

.contents-link {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.contents-link:hover {
  opacity: 0.7;
}

/* --- スペシャルサイトバナー --------------------- */

.contents-spsite {
  width: 90vw;
  aspect-ratio: 1000 / 240;
  max-width: 1000px;
  background-image: url('img/Sp_Banner.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin: 0 auto;
}

/* --- アプリバナー --------------------- */

.contents-appdl {
  width: 90vw;
  aspect-ratio: 1000 / 240;
  max-width: 1000px;
  background-image: url('img/App_Banner.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 15px;
  margin: 0 auto;
}

/* --- 大切なお知らせ --------------------- */

.contents-imp {
  width: 90vw;
  aspect-ratio: 1000 / 240;
  max-width: 1000px;
  max-height: 240px;
  border: 1px #333 solid;
  border-radius: 15px;
  background-color: #fff;
  padding: 25px 0;
  margin: 0 auto;
}

.contents-imp h3 {
  font-size: 1.5em;
  padding: 10px 0 10px 35px;
}

.contents-imp .fa-exclamation-circle {
  color: #f4340d;
}

.contents-imp p {
  font-size: 1em;
  font-weight: 500;
  color: #6c3524;
  padding: 10px 0 10px 55px;
}

.contents-imp .fa-file-pdf {
  color: #f4340d;
}

.contents-first-link {
  display: block;
  position: relative;
  margin-bottom: 30px;
}

.contents-first-link:hover {
  opacity: 0.7;
}

.contents-first-link::before {
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  font-size: 1em;
  font-weight: 900;
  color: #6c3524;
  position: absolute;
  left: 37px;
  top: 68px;
}

.contents-last-link {
  display: block;
  border-top: 1px #333 solid;
  text-align: center;
}

.contents-last-link:hover {
  opacity: 0.7;
}

.contents-last-link-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 54px;
  padding: 0 !important;
}

/* --- コンテンツレスポンシブ --------------------- */

@media (max-width: 768px) {
  .contents {
    background-image: url('img/dcd-background.png');
    background-repeat: no-repeat;
    background-position: 150% 76%; 
    background-size: 200px auto; /* サイズも指定可能 */
    margin: 0 auto;
    padding: 20px 3vw;
  }
  .contents-wrapper {
    width: 90%;
  }
  .contents-link {
    margin-bottom: 20px;
  }
  .contents-spsite {
    width: 100%;
    aspect-ratio: 800 / 529;
    background-image: url('img/Sp_BannerSp.png');
    border-radius: 15px;
    margin: 0 auto;
  }
  .contents-appdl {
    width: 100%;
    aspect-ratio: 800 / 529;
    background-image: url('img/App_BannerSp.png');
    margin: 0 auto;
  }
  .contents-imp {
    width: 100%;
    aspect-ratio: auto;
    min-height: auto;
    border-radius: 15px;
    padding: 0;
  } 
  .contents-imp h3 {
    font-size: 1em;
    padding: 10px 0 10px 15px;
  }
  .contents-imp p {
    font-size: 0.8em;
    padding: 10px 30px;
  }
  .contents-first-link {
    margin-bottom: 10px;
  }
  .contents-first-link::before {
    font-size: 0.5em;
    left: 17px;
    top: 58px;
  }
  .contents-last-link-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
  }
}

/* --- プロダクト ------------------------------------------------------------------------------------------------------------------- */

/* --- プロダクトの外装 --------------------- */

.product-swiper-container {
 position: relative;
 margin: 0 auto;
 padding: 50px 5vw 30px;
}

/* --- プロダクトスライダー --------------------- */

/* スライダー本体 */
.product-swiper {
 overflow: hidden;
}

/* 横並びを強制する設定 */
.product-swiper-wrapper {
 display: flex;
overflow: visible; /* これ重要 */
}

/* 各スライドの調整 */
.product-swiper-slide {
 flex-shrink: 0; /* 幅が潰れるのを防ぐ */
 text-align: center;
}

.p-link img {
 width: 20vw;
 height: auto;
 display: block;
 border-radius: 15px;
}

.p-link:hover {
 opacity: 0.7;
}

/* --- プロダクトスライダーの制御ボタン --------------------- */

.product-swiper-button-wrapper {
 display: flex;
 justify-content: center;
 padding: 40px 0;
 max-width: 50%;
 margin: 0 auto;
}

/* ＜ボタン */
.product-swiper-button-prev::after {
 content: "\f104";
 font-family: "Font Awesome 6 Free";
}

/* ＞ボタン */
.product-swiper-button-next::after {
 content: "\f105";
 font-family: "Font Awesome 6 Free";

}
/* ボタンの設定 */
.product-swiper-button-prev,
.product-swiper-button-next {
 display: flex;
 align-items: center;
 justify-content: center;
 font-size: 2em;
 font-weight: 900;
 color: #6c3524;
 cursor: pointer;
 z-index: 10;
}

/* --- コントロールバー -------- */

/* コントロールバーの枠 */
.product-swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 20px;
  border: 2px #6c3524 solid;
  border-radius: 15px;
  margin: 15px 20px 0;
  overflow: hidden;
}

.product-swiper-pagination .swiper-pagination-bullet {
  flex: none;            /* ← これが重要（flexで潰れるのを防ぐ） */
  width: 20%;
  height: 100%;
  margin: 0 !important;
  background: #eee;
  border-radius: 0;
}

.product-swiper-pagination .swiper-pagination-bullet-active {
  background: #6c3524;
}

/* --- プロダクトレスポンシブ --------------------- */

@media (max-width: 768px) {
  .product-swiper-button-wrapper {
    max-width: 60%;
  }
  .product-swiper-container {
    padding: 20px 0 0;
  }
  .p-link img {
    width: 100%;
  }
  .product-swiper-slide {
    width: 60%;        /* ← ここで0.5量を決める */
  }
  /* ボタンの設定 */
  .product-swiper-button-prev,
  .product-swiper-button-next {
    font-size: 1.3em;
  }
  /* コントロールバーの枠 */
  .product-swiper-pagination {
    height: 10px;
    margin: 10px 15px 0;
  }
}

/* --- サービス ------------------------------------------------------------------------------------------------------------------- */

.service {
  background-image: url('img/dcd-background.png');
  background-repeat: no-repeat;
  background-position: -10% 16%; 
  background-size: 350px auto; /* サイズも指定可能 */
}

.service-container {
  background-color: #eee8aa;
  width: 95vw;
  max-width: 1240px;
  border-radius: 25px;
  padding: 30px 5vw;
  margin: 0 auto 30px;
}

.service-container h2 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;
}

.service-container h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: #6c3524;
  padding: 12px 0;
  text-align: center;
}

.service-container ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.service-container li {
  width: 20vw;
  padding: 10px;
}

.service-container a {
  display: block;
}

.service-container a:hover {
  opacity: 0.7;
}

.service-container img {
  width: 13vw;
  margin: 0 auto;
}

.service-container p {
  font-size: 1em;
  padding: 0 5px;
}

/* --- サービスレスポンシブ --------------------- */

@media (max-width: 768px) {
  .service {
    background-position: -70% 80%; 
    background-size: 200px auto; /* サイズも指定可能 */
  }
  .service-container h2 {
    font-size: 1.5em;
  }
  .service-container h3 {
    font-size: 0.9em;
    padding: 12px 0;
  }
  .service-container ul {
    flex-wrap: wrap;
  }
  .service-container li {
    width: 46%;
  }
  .service-container img {
    width: 100%;
  }
  .service-container p {
    font-size: 0.8em;
  }
}

/* --- エンジョイ ------------------------------------------------------------------------------------------------------------------------- */

.enjoy-container {
  background-color: #fff;
  width: 95vw;
  max-width: 1240px;
  padding: 0 3vw;
  margin: 0 auto 30px;
}

/* 外側の枠：グラデーションと角丸を担当 */
.enjoy-border {
  display: block;
  background-image: url('img/border-background.png');
  background-repeat: repeat;
  background-size: 100% 100%;
  border-radius: 25px;
  max-width: 1100px;
  padding: 8px; /* borderの太さ */
  margin: 0 auto;
}

.enjoy-inner {
  display: block;
  position: relative;
  background-color: #fff;
  border-radius: 25px;
  padding: 15px;
  text-align: center;
}

.enjoy-inner h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 30px;
}

.enjoy-desc {
  display: block;
  font-size: 1.1em;
  font-weight: 400;
  margin: 30px auto;
}

.enjoy-desc-sp {
  display: none;
}

.enjoy-inner a {
  display: inline-block;
  position: relative;
  width: 20vw;
  min-width: 240px;
  font-size: 0.9em;
  font-weight: 600;
  color: #6c3524;
  padding: 15px;
  border: 1px #6c3524 solid;
  border-radius: 30px;
}

.enjoy-inner a:hover {
  opacity: 0.7;
}

.enjoy-inner a::after {
  content: "\f105";
  font-family: "Font Awesome 6 Free";
  font-size: 1.1em;
  font-weight: 900;
  color: #6c3524;
  position: absolute;
  right: 20px;
  top: 13px;
}

.enjoy-link-top {
  margin-bottom: 15px;
}

.enjoy-link-bottom {
  margin-bottom: 30px;
}

/* アニマル画像 */
.enjoy-animals {
  width: 18vw;
  min-width: 240px;
  aspect-ratio: 500 / 403;
  background-image: url('img/docdo-animals.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: -5%;
  top: 40%;
}

/* ドクター画像 */
.enjoy-doctor {
  width: 18vw;
  min-width: 240px;
  aspect-ratio: 500 / 622;
  background-image: url('img/docdo-doctor.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  right: -5%;
  top: 25%;
}

/* --- エンジョイレスポンシブ --------------------- */

@media (max-width: 768px) {
  .enjoy-inner h2 {
    font-size: 1.6em;
    margin-bottom: 20px;
  }
  .enjoy-desc {
    display: none;
  }
  .enjoy-desc-sp {
    display: block;
    font-size: 0.8em;
    font-weight: 400;
    text-align: left;
    padding: 0 10px;
    margin: 0 auto 180px;
  }
  /* アニマル画像 */
  .enjoy-animals {
    width: 140px;
    min-width: auto;
    left: 5%;
    top: 37%;
  }
  /* ドクター画像 */
  .enjoy-doctor {
    width: 110px;
    min-width: auto;
    right: 5%;
    top: 33%;
  }
}

/* --- 私たちの取り組み ------------------------------------------------------------------------------------------------------------------- */

#about {
  background-image: url('img/dcd-background.png');
  background-repeat: no-repeat;
  background-position: -10% 16%; 
  background-size: 350px auto; /* サイズも指定可能 */

  display: none;
}

.about-container {
  background-color: #eee8aa;
  width: 95vw;
  max-width: 1240px;
  border-radius: 25px;
  padding: 30px 5vw;
  margin: 0 auto 30px;
}

/* --- おしらせ --------------------------------------------------------------------------------------------------------------------------- */

.notification {
  background-image: url('img/dcd-background.png');
  background-repeat: no-repeat;
  background-position: -10% 16%; 
  background-size: 350px auto; /* サイズも指定可能 */

  display: none;
}

.notification-container {
  background-color: #eee8aa;
  width: 95vw;
  max-width: 1240px;
  border-radius: 25px;
  padding: 30px 5vw;
  margin: 0 auto 30px;
}

/* --- インスタグラム --------------------------------------------------------------------------------------------------------------------- */

.instagram {
  background-image: url('img/dcd-background.png');
  background-repeat: no-repeat;
  background-position: -10% 16%; 
  background-size: 350px auto; /* サイズも指定可能 */

  display: none;
}

.instagram-container {
  background-color: #eee8aa;
  width: 95vw;
  max-width: 1240px;
  border-radius: 25px;
  padding: 30px 5vw;
  margin: 0 auto 30px;
}


/* =================================================================================================================================
   フッター
   ================================================================================================================================= */

footer {
  font-size: 0.7em;
  color: #fff;
  background-color: #6c3524;
  padding: 40px 5vw;
}

footer a:hover {
  opacity: 0.6;
}

.footer-links ul {
  display: flex;
  justify-content: center;
  max-width: 1240px;
  margin: 0 auto;
  gap: 20px;
}

.footer-info {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.footer-info a {
  text-decoration: underline;
}

/* --- フッターレスポンシブ --------------------- */

@media (max-width: 768px) {
  footer {
    font-size: 0.6em;
    padding: 20px 10px;
  }
  .footer-links ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .footer-info {
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
  }
}
